APP_SETTINGS=config.DevelopmentConfig
DATABASE_URL=postgresql://db/postgres
DB_HOST=db
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=docker
SECRET_KEY=b35cfec32d493cb9b4b1a21f09fcd46004bcc17f14b1b72b
LOG_ROUNDS=12
PASSWORD_LENGTH=16
